.u-image__error,
.u-image__loading {
  background: none !important;
  border: var(--C-T4) solid 2rpx;
  border-radius: var(--R-sm) !important;
}
.uImageAutoHeight .u-image {
  height: auto !important;
}
.u-button--primary {
  border: none !important;
  background: var(--C-LG1);
  background-color: transparent !important;
  &::before,
  &::after {
    display: none;
  }
}
.u-divider{
  margin: 0 !important;
}