.fill {
  width: 100%;
  height: 100%;
}
.fill-W-min {
  min-width: 100%;
}
.fill-H-min {
  min-height: 100%;
}
.fill-W {
  width: 100%;
}
.fill-H {
  height: 100%;
}
.fill-min {
  min-width: 100%;
  min-height: 100%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
$rSize: (
  "0": 0,
  "xss": 4rpx,
  "xs": 6rpx,
  "sm": 12rpx,
  "md": 18rpx,
  "lg": 24rpx,
  "xl": 30rpx,
  "xxl": 36rpx,
);
page {
  @each $key, $value in $rSize {
    --R-#{$key}: #{$value};
  }
}
@each $key, $value in $rSize {
  .R-#{$key} {
    border-radius: #{$value} !important;
  }
}
