.C-B1 {
  color: var(--C-T1);
}
.C-T2 {
  color: var(--C-T2);
}
.C-T3 {
  color: var(--C-T3);
}
.C-T4 {
  color: var(--C-T4);
}
.C-T5 {
  color: var(--C-T5);
}
.C-M1 {
  color: var(--C-M1);
}
.C-M2 {
  color: var(--C-M2);
}
.C-M3 {
  color: var(--C-M3);
}
.C-M4 {
  color: var(--C-M4);
}
.C-M5 {
  color: var(--C-M5);
}
.C-fail {
  color: var(--C-fail);
}
.C-success {
  color: var(--C-success);
}
.C-warn {
  color: var(--C-warn);
}
.C-B1 {
  color: var(--C-B1);
}
.C-B2 {
  color: var(--C-B2);
}
.C-B3 {
  color: var(--C-B3);
}
.C-B4 {
  color: var(--C-B4);
}
.C-B5 {
  color: var(--C-B5);
}

.B-B1 {
  background-color: var(--C-T1);
}
.B-T2 {
  background-color: var(--C-T2);
}
.B-T3 {
  background-color: var(--C-T3);
}
.B-T4 {
  background-color: var(--C-T4);
}
.B-T5 {
  background-color: var(--C-T5);
}
.B-M1 {
  background-color: var(--C-M1);
}
.B-M2 {
  background-color: var(--C-M2);
}
.B-M3 {
  background-color: var(--C-M3);
}
.B-M4 {
  background-color: var(--C-M4);
}
.B-M5 {
  background-color: var(--C-M5);
}
.B-fail {
  background-color: var(--C-fail);
}
.B-success {
  background-color: var(--C-success);
}
.B-warn {
  background-color: var(--C-warn);
}
.B-B1 {
  background-color: var(--C-B1);
}
.B-B2 {
  background-color: var(--C-B2);
}
.B-B3 {
  background-color: var(--C-B3);
}
.B-B4 {
  background-color: var(--C-B4);
}
.B-B5 {
  background-color: var(--C-B5);
}
