$colors: (
  T1: var(--C-T1),
  T2: var(--C-T2),
  T3: var(--C-T3),
  T4: var(--C-T4),
  T5: var(--C-T5),
  M1: var(--C-M1),
  M2: var(--C-M2),
  M3: var(--C-M3),
  M4: var(--C-M4),
  M5: var(--C-M5),
  fail: var(--C-fail),
  success: var(--C-success),
  warn: var(--C-warn),
  B1: var(--C-B1),
  B2: var(--C-B2),
  B3: var(--C-B3),
  B4: var(--C-B4),
  B5: var(--C-B5),
);

// 循环生成样式
@each $key, $value in $colors {
  .C-#{$key} {
    color: $value !important;
  }
  .B-#{$key} {
    background-color: $value !important;
  }
}
