/***********************效果***********************/
//斜面立体效果
.bevelVar--BEc {
  --BEc: rgba(0, 0, 0, 0.2);
  box-shadow: inset var(--BEc) 3px 3px 6px, var(--BEc) 3px 3px 12px;
}
.shadowVar--SHc {
  --SHc: rgba(0, 0, 0, 0.2);
  box-shadow: var(--SHc) 3px 3px 12px;
}
//点击效果
.active:active {
  background: var(--C-B3) !important;
  opacity: 0.8;
}
//点击效果
.activeVar--ACbg:active {
  --ACbg: var(--C-T1-O1);
  background: var(--ACbg);
  opacity: 0.8;
}
.borderVar--BOc {
  --BOc: var(--C-B1-O3);
  border-bottom: solid 1px var(--BOc);
}
