/***********************效果***********************/
//斜面立体效果
.bevel {
  --BEc: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(
    inset var(--BEc) 3rem 3rem 6rem,
    var(--BEc) 3rem 3rem 12rem
  );
}
.shadow {
  --SHc: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(var(--SHc) 3rem 3rem 12rem);
}
//点击效果
.active:active {
  filter: brightness(90%) invert(0.3);
}
.border-B {
  --BOc: var(--C-T1-O1);
  border-bottom: solid 1rem var(--BOc);
}
.border-T {
  --BOc: var(--C-T1-O1);
  border-top: solid 1rem var(--BOc);
}
.border-L {
  --BOc: var(--C-T1-O1);
  border-left: solid 1rem var(--BOc);
}
.border-R {
  --BOc: var(--C-T1-O1);
  border-right: solid 1rem var(--BOc);
}
.border-all {
  --BOc: var(--C-T1-O1);
  border: solid 1rem var(--BOc);
}
.B-img {
  background-image: var(--B-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
