/***********************布局***********************/
.flex {
  display: flex;
}
.flex-J-SB {
  display: flex;
  justify-content: space-between;
}
.flex-J-SA {
  display: flex;
  justify-content: space-around;
}
.flex-A-C {
  display: flex;
  align-items: center;
  align-content: center;
}
.flex-J-C {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.flex-A-B {
  display: flex;
  align-items: baseline;
  align-content: baseline;
}

.T-A-L {
  text-align: left;
}
.T-A-C {
  text-align: center;
}
.T-A-R {
  text-align: right;
}
/***********************间距***********************/
// 定义间距映射
$gaps: (
  xs: var(--gap-xs),
  sm: var(--gap-sm),
  md: var(--gap-md),
  lg: var(--gap-lg),
  xl: var(--gap-xl),
  xxl: var(--gap-xxl),
);

// 循环生成样式
@each $key, $value in $gaps {
  .MT-#{$key} {
    margin-top: $value;
  }
  .ML-#{$key} {
    margin-left: $value;
  }
  .MR-#{$key} {
    margin-right: $value;
  }
  .MB-#{$key} {
    margin-bottom: $value;
  }
  .auto-MT-#{$key} {
    & > view,
    [data] {
      margin-top: $value;
    }
  }
  .auto-ML-#{$key} {
    & > view,
    [data] {
      margin-left: $value;
    }
  }
  .auto-MB-#{$key} {
    & > view,
    [data] {
      margin-bottom: $value;
    }
  }
  .auto-MR-#{$key} {
    & > view,
    [data] {
      margin-right: $value;
    }
  }
}
