/***********************文本***********************/
.T-S-xs {
  font-size: var(--T-S-xs);
}
.T-S-sm {
  font-size: var(--T-S-sm);
}
.T-S-md {
  font-size: var(--T-S-md);
}
.T-S-lg {
  font-size: var(--T-S-lg);
}
.T-S-xl {
  font-size: var(--T-S-xl);
}
.T-S-xxl {
  font-size: var(--T-S-xxl);
}

/* 文字单行省略号 */
.T-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.T-omitVar--n {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--n);
  word-break: break-all;
}

/* 文字多了自動換行 */
.T-break {
  word-break: break-all;
  word-wrap: break-word;
}
.T-nowrap {
  white-space: nowrap;
}
