/***********************文本***********************/
$sizes: (
  "xxs": 16rpx,
  "xs": 20rpx,
  "sm": 26rpx,
  "md": 32rpx,
  "lg": 40rpx,
  "xl": 48rpx,
  "xxl": 64rpx,
);

// 循环生成样式
@each $key, $value in $sizes {
  .T-S-#{$key} {
    font-size: var(--T-S-#{$key}) !important;
  }
}
:root {
  @each $key, $value in $sizes {
    --T-S-#{$key}: #{$value};
  }
}
/* 文字单行省略号 */
.T-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.T-omit-n {
  --T-n: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--T-n);
  word-break: break-all;
}

/* 文字多了自動換行 */
.T-break {
  word-break: break-all;
  word-wrap: break-word;
}
.T-nowrap {
  white-space: nowrap;
}

.T-strong {
  font-weight: 600;
}
.T-content {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
