/***********************文本***********************/
$sizes: (
  xs: var(--T-S-xs),
  sm: var(--T-S-sm),
  md: var(--T-S-md),
  lg: var(--T-S-lg),
  xl: var(--T-S-xl),
  xxl: var(--T-S-xxl),
);

// 循环生成样式
@each $key, $value in $sizes {
  .T-S-#{$key} {
    font-size: $value;
  }
}

/* 文字单行省略号 */
.T-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.T-omitVar--OMn {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--n);
  word-break: break-all;
}

/* 文字多了自動換行 */
.T-break {
  word-break: break-all;
  word-wrap: break-word;
}
.T-nowrap {
  white-space: nowrap;
}
