page {
  /**间距全局变量*/
  --gap-xs: 12rpx;
  --gap-sm: 22rpx;
  --gap-md: 32rpx;
  --gap-lg: 40rpx;
  --gap-xl: 48rpx;
  --gap-xxl: 56rpx;
  /**文字全局变量*/
  --T-S-xs: 16rpx;
  --T-S-sm: 24rpx;
  --T-S-md: 32rpx;
  --T-S-lg: 40rpx;
  --T-S-xl: 48rpx;
  --T-S-xxl: 64rpx;
  /**主色*/
  --C-M1: #000066;
  --C-M2: #7021f0;
  --C-M3: #2349d8;
  --C-M4: #eb8bf9;
  /**渐变色*/
  --C-LG1: linear-gradient(90deg, var(--C-M2), var(--C-M3));
  /**功能色*/
  --C-success: #29a17e;
  --C-fail: #d63031;
  --C-await: #3498db;
  --C-warn: #f2c50a;
  --C-info: #3498db;
  /**透明色*/
  --C-T1-O0: rgba(0, 0, 0, 0);
  --C-T1-O1: rgba(0, 0, 0, 0.1);
  --C-T1-O2: rgba(0, 0, 0, 0.2);
  --C-T1-O3: rgba(0, 0, 0, 0.3);
  --C-T1-O4: rgba(0, 0, 0, 0.4);
  --C-T1-O5: rgba(0, 0, 0, 0.5);
  --C-B1-O0: rgba(255, 255, 255, 0);
  --C-B1-O1: rgba(255, 255, 255, 0.1);
  --C-B1-O2: rgba(255, 255, 255, 0.2);
  --C-B1-O3: rgba(255, 255, 255, 0.3);
  --C-B1-O4: rgba(255, 255, 255, 0.4);
  --C-B1-O5: rgba(255, 255, 255, 0.5);
  /**适合作文字的颜色*/
  --C-B1: #fff;
  --C-B2: #eee;
  --C-B3: #ccc;
  --C-B4: #888;
  --C-B5: #666;
  /**适合作为背景的颜色*/
  --C-T5: #656565;
  --C-T4: #454545;
  --C-T3: #333;
  --C-T2: #252525;
  --C-T1: #1e1e1e;
  /**圆角*/
  --R-xs: 6rpx;
  --R-sm: 12rpx;
  --R-md: 18rpx;
  --R-lg: 24rpx;
  --R-xl: 30rpx;
  --R-xxl: 36rpx;

  /**布局css*/
  --navbar-H: 110rpx;
}
