$uv-main-color: inherit;
$uv-primary: var(--C-M1);
$uv-primary-dark: var(--C-M1-dark1);
$uv-primary-disabled: var(--C-M1-O3);
$uv-primary-light: var(--C-M1-light1);

$uv-warning: var(--C-warn);
$uv-warning-dark: var(--C-warn-dark1);
$uv-warning-disabled: var(--C-warn-O3);
$uv-warning-light: var(--C-warn-light1);

$uv-success: var(--C-success);
$uv-success-dark: var(--C-success-dark1);
$uv-success-disabled: var(--C-success-O3);
$uv-success-light: var(--C-success-light1);

$uv-error: var(--C-fail);
$uv-error-dark: var(--C-fail-dark1);
$uv-error-disabled: var(--C-fail-O3);
$uv-error-light: var(--C-fail-light1);
