/***********************效果***********************/
//斜面立体效果
.bevel {
  --bevel-C: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(
    inset var(--bevel-C) 3px 3px 6px,
    var(--bevel-C) 3px 3px 12px
  );
}
.shadow {
  --shadow-C: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(var(--shadow-C) 3px 3px 12px);
}
//点击效果
.active:active {
  filter: brightness(90%) invert(0.3);
}
.shadow {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
.border-B {
  --border-C: var(--C-T1-O-3);
  border-bottom: solid 1px var(--border-C);
}
.border-T {
  --border-C: var(--C-T1-O-3);
  border-top: solid 1px var(--border-C);
}
.border-L {
  --border-C: var(--C-T1-O-3);
  border-left: solid 1px var(--border-C);
}
.border-R {
  --border-C: var(--C-T1-O-3);
  border-right: solid 1px var(--border-C);
}
.border-all {
  --border-C: var(--C-T1-O-3);
  border: solid 1px var(--border-C);
}
@keyframes option {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
