/***********************效果***********************/
//斜面立体效果
.bevel {
  --bevel-c: rgba(0, 0, 0, 0.2);
  box-shadow: inset var(--bevel-c) 3px 3px 6px, var(--bevel-c) 3px 3px 12px;
}
.shadow {
  --shadow-c: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(var(--shadow-c) 3px 3px 12px);
}
//点击效果
.active:active {
  filter: brightness(90%) invert(0.3);
}
.shadow {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
.border-B {
  --border-c: var(--C-T1-O-3);
  border-bottom: solid 1px var(--border-c);
}
.border-T {
  --border-c: var(--C-T1-O-3);
  border-top: solid 1px var(--border-c);
}
.border-L {
  --border-c: var(--C-T1-O-3);
  border-left: solid 1px var(--border-c);
}
.border-R {
  --border-c: var(--C-T1-O-3);
  border-right: solid 1px var(--border-c);
}
.border-all {
  --border-c: var(--C-T1-O-3);
  border: solid 1px var(--border-c);
}
@keyframes option {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
