view,
text,
button,
cover-view,
scroll-view {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}
cover-view {
  white-space: pre-wrap;
}
button {
  line-height: 1;
  padding: 0.2em 0.4em;
  &::after {
    border: none;
  }
}

//input提示文本样式
input::-webkit-input-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
input:-moz-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
input::-moz-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
input:-ms-input-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
//滚动条
::-webkit-scrollbar {
  display: block !important;
  width: 4px !important;
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--C-T1-O2);
  border-radius: 999px;
  &:active {
    background-color: var(--C-T1-O5);
  }
}
input {
  border: none;
  background: none;
  outline: none;
}
