view,
text,
button,
cover-view,
scroll-view {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}
cover-view {
  white-space: pre-wrap;
}
button {
  line-height: 1;
  padding: 0.2em 0.4em;
  &::after {
    border: none;
  }
}

//input提示文本样式
input::-webkit-input-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
input:-moz-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
input::-moz-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
input:-ms-input-placeholder {
  opacity: 0.65;
  color: var(--C-T1);
}
//滚动条
::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-jun-c rd-max bg-op-30;
  &:hover {
    @apply bg-jun-c bg-op-40;
  }
  &:active {
    @apply bg-jun-c bg-op-50;
  }
}
// 滚动条轨道
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
// 滚动条角落（水平和垂直滚动条交汇处）
::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
//#ifdef MP
@supports (scrollbar-color: auto) {
  page view text scroll-view {
    scrollbar-color: #00000088 transparent;
    scrollbar-width: thin;
  }
}
//#endif
// #ifndef MP
@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: #00000088 transparent;
    scrollbar-width: thin;
  }
}
// #endif

input {
  border: none;
  background: none;
  outline: none;
}
