/***********************布局***********************/
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-J-SB {
  display: flex;
  justify-content: space-between;
}
.flex-J-SA {
  display: flex;
  justify-content: space-around;
}
.flex-J-SE {
  display: flex;
  justify-content: space-evenly;
}

.flex-A-C {
  display: flex;
  align-items: center;
  align-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-J-C {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.flex-A-B {
  display: flex;
  align-items: baseline;
  align-content: baseline;
}
.flex-A-STR {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}
.self-J-C {
  justify-self: center;
}
.self-J-STR {
  justify-self: stretch;
}
.self-J-STA {
  justify-self: flex-start;
}
.self-J-END {
  justify-self: flex-end;
}
.self-A-C {
  align-self: center;
}
.self-A-STA {
  align-self: flex-start;
}
.self-A-END {
  align-self: flex-end;
}
.self-A-STR {
  align-self: stretch;
}
.inline-flex {
  display: inline-flex;
}
@for $i from 0 through 30 {
  .flex-#{$i} {
    flex: $i;
  }
}
.T-A-L {
  text-align: left;
}
.T-A-C {
  text-align: center;
}
.T-A-R {
  text-align: right;
}
/***********************间距***********************/
// 定义间距映射
$gaps: (
  "xxs": 3px,
  "xs": 6px,
  "sm": 10px,
  "md": 16px,
  "lg": 20px,
  "xl": 24px,
  "xxl": 30px,
  "auto": auto,
  "0": 0,
);

// 循环生成样式
@each $key, $value in $gaps {
  .PD-#{$key} {
    padding: var(--gap-#{$key});
  }
  .P-row-#{$key} {
    padding-left: var(--gap-#{$key});
    padding-right: var(--gap-#{$key});
  }
  .P-col-#{$key} {
    padding-top: var(--gap-#{$key});
    padding-bottom: var(--gap-#{$key});
  }
  .PT-#{$key} {
    padding-top: var(--gap-#{$key});
  }
  .PB-#{$key} {
    padding-bottom: var(--gap-#{$key});
  }
  .PL-#{$key} {
    padding-left: var(--gap-#{$key});
  }
  .PR-#{$key} {
    padding-right: var(--gap-#{$key});
  }

  .MG-#{$key} {
    margin: var(--gap-#{$key});
  }
  .M-row-#{$key} {
    margin-left: var(--gap-#{$key});
    margin-right: var(--gap-#{$key});
  }
  .M-col-#{$key} {
    margin-top: var(--gap-#{$key});
    margin-bottom: var(--gap-#{$key});
  }
  .MT-#{$key} {
    margin-top: var(--gap-#{$key});
  }
  .MB-#{$key} {
    margin-bottom: var(--gap-#{$key});
  }
  .ML-#{$key} {
    margin-left: var(--gap-#{$key});
  }
  .MR-#{$key} {
    margin-right: var(--gap-#{$key});
  }

  //最高权重
  ._PD-#{$key} {
    padding: var(--gap-#{$key}) !important;
  }
  ._P-row-#{$key} {
    padding-left: var(--gap-#{$key}) !important;
    padding-right: var(--gap-#{$key}) !important;
  }
  ._P-col-#{$key} {
    padding-top: var(--gap-#{$key}) !important;
    padding-bottom: var(--gap-#{$key}) !important;
  }
  ._PT-#{$key} {
    padding-top: var(--gap-#{$key}) !important;
  }
  ._PB-#{$key} {
    padding-bottom: var(--gap-#{$key}) !important;
  }
  ._PL-#{$key} {
    padding-left: var(--gap-#{$key}) !important;
  }
  ._PR-#{$key} {
    padding-right: var(--gap-#{$key}) !important;
  }

  ._MG-#{$key} {
    margin: var(--gap-#{$key}) !important;
  }
  ._M-row-#{$key} {
    margin-left: var(--gap-#{$key}) !important;
    margin-right: var(--gap-#{$key}) !important;
  }
  ._M-col-#{$key} {
    margin-top: var(--gap-#{$key}) !important;
    margin-bottom: var(--gap-#{$key}) !important;
  }
  ._MT-#{$key} {
    margin-top: var(--gap-#{$key}) !important;
  }
  ._MB-#{$key} {
    margin-bottom: var(--gap-#{$key}) !important;
  }
  ._ML-#{$key} {
    margin-left: var(--gap-#{$key}) !important;
  }
  ._MR-#{$key} {
    margin-right: var(--gap-#{$key}) !important;
  }

  .gap-#{$key} {
    gap: var(--gap-#{$key});
  }
}
page {
  @each $key, $value in $gaps {
    --gap-#{$key}: #{$value};
  }
}
