/***********************文本***********************/
$sizes: (
  "xxs": 8px,
  "xs": 10px,
  "sm": 14px,
  "md": 16px,
  "lg": 20px,
  "xl": 22px,
  "xxl": 32px,
);

// 循环生成样式
@each $key, $value in $sizes {
  .F-S-#{$key} {
    font-size: var(--F-S-#{$key});
  }
}
page {
  @each $key, $value in $sizes {
    --F-S-#{$key}: #{$value};
  }
}
//行高line-height:1em; == T-H-10em
@for $i from 5 through 50 {
  .T-H-#{$i}em {
    line-height: #{$i * 0.1}em;
  }
}
/* 文字单行省略号 */
.T-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.T-omit-n {
  --T-n: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: var(--T-n);
  word-break: break-all;
}

/* 文字多了自動換行 */
.T-break {
  word-break: break-all;
  word-wrap: break-word;
}
.T-nowrap {
  white-space: nowrap;
}

.T-strong {
  font-weight: bold;
}
.T-weak {
  font-weight: lighter;
}
.T-content {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
