/*效果*/
/*斜面立体阴影*/
.bevelVar--c {
  box-shadow: inset var(--c) 3rem 3rem 6rem, var(--c) 3rem 3rem 6rem;
}
.active:active {
  filter: brightness(80%) invert(0.3);
}
// 切换动画
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  position: absolute !important;
  top: 0;
  transform: translate(50vw);
  opacity: 0;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
/*布局*/
.flex-J-SB {
  display: flex;
  justify-content: space-between;
}
.flex-J-SA {
  display: flex;
  justify-content: space-around;
}
.flex-J-SE {
  display: flex;
  justify-content: space-evenly;
}
.flex-J-C {
  display: flex;
  justify-content: center;
}
.flex-A-C {
  display: flex;
  align-items: center;
  align-content: center;
}
.info-layout {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  gap: var(--gap-l);
  & > * {
    text-align: center;
    &:nth-child(3n + 1) {
      justify-self: start;
    }
    &:nth-child(3n + 3) {
      justify-self: end;
    }
  }
}
.list-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: var(--gap-l);
  & > * {
    text-align: center;
    &:nth-child(3n + 1) {
      justify-self: start;
    }
    &:nth-child(3n + 3) {
      justify-self: end;
    }
  }
}
/*文本*/
.T-S-m {
  font-size: var(--T-S-m);
}
.T-S-s {
  font-size: var(--T-S-s);
}
.T-S-xl {
  font-size: var(--T-S-xl);
}
.C-T2 {
  color: var(--C-T2);
}
.C-T3 {
  color: var(--C-T3);
}
.C-T4 {
  color: var(--C-T4);
}
/* 文字单行省略号 */
.T-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.T-omitVar--n {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--n);
  word-break: break-all;
}

/* 文字多了自動換行 */
.T-break {
  word-break: break-all;
  word-wrap: break-word;
}
.T-nowrap {
  white-space: nowrap;
}

//长编码class
.code {
  word-break: break-all;
}

//间距
.mt-l {
  margin-top: var(--gap-l);
}
.ml-l {
  margin-left: var(--gap-l);
}
.mt-xl {
  margin-top: var(--gap-xl);
}
.ml-xl {
  margin-left: var(--gap-xl);
}

.auto-mt {
  & > * + * {
    margin-top: var(--gap-l);
  }
}
.auto-ml {
  & > * + * {
    margin-left: var(--gap-l);
  }
}
.auto-mtVar--s {
  & > * + * {
    margin-top: var(--s);
  }
}
.auto-mlVar--s {
  & > * + * {
    margin-left: var(--s);
  }
}
/* 外边距、内边距全局样式 */
@for $i from 0 through 80 {
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }
  .pl-#{$i} {
    padding-left: #{$i}rem !important;
  }
}
