/***********************效果***********************/
//斜面立体效果
.bevelVar--BEc {
  --BEc: rgba(255, 255, 255, 0.2);
  box-shadow: inset var(--BEc) 5rem 5rem 10rem, var(--BEc) 5rem 5rem 10rem;
}
.shadowVar--SHc {
  --SHc: rgba(0, 0, 0, 0.1);
  box-shadow: var(--SHc) 5rem 5rem 10rem;
}
//点击效果
.active:active {
  filter: brightness(90%) invert(0.4);
}
//点击效果
.activeVar--ACbg:active {
  --ACbg: var(--C-B1);
  background: var(--ACbg);
  filter: brightness(90%) invert(0.4);
}
.borderVar--BOc {
  --BOc: var(--C-OT3);
  border-bottom: solid 1rem var(--BOc);
}
