//uview按钮
.u-button {
  &:active {
    filter: invert(0.3) brightness(0.5) opacity(0.8);
  }
}
.u-button--primary {
  background-color: var(--C-M1) !important;
  border-color: var(--C-M1) !important;
}
.u-button--info {
  background-color: var(--C-B2) !important;
  border-color: var(--C-B2) !important;
  color: inherit !important;
}
//uniapp h5弹出窗口
.uni-modal {
  background: var(--C-O1);
  .uni-modal__textarea {
    background: none;
  }
  .uni-modal__btn_primary {
    &:active {
      filter: invert(0.3) brightness(0.5) opacity(0.8);
      background: inherit !important;
    }
    color: var(--C-M1) !important;
  }
  .uni-modal__btn_default {
    color: var(--C-T1) !important;
    &:active {
      filter: invert(0.3) brightness(0.5) opacity(0.8);
      background: inherit !important;
    }
  }
}
//uview icon
.u-icon__icon {
  color: inherit !important;
}
