:root {
  /**间距全局变量*/
  --gap-xs: 8px;
  --gap-sm: 14px;
  --gap-md: 16px;
  --gap-lg: 20px;
  --gap-xl: 24px;
  --gap-xxl: 32px;
  /**文字全局变量*/
  --T-S-xs: 8px;
  --T-S-sm: 14px;
  --T-S-md: 16px;
  --T-S-lg: 20px;
  --T-S-xl: 24px;
  --T-S-xxl: 32px;
  /**适合作为背景的颜色*/
  --C-B1: #24252a;
  --C-B2: #3b3f48;
  /*主色*/
  --C-M1: #8775de;
  --C-M2: #47d5d7;
  /**透明色*/
  --C-O1: rgba(255, 255, 255, 0.1);
  --C-O2: rgba(255, 255, 255, 0.2);
  /**适合作文字的颜色*/
  --C-T1: #eee;
  --C-T2: #999;
  --C-T3: #666;
  --C-T4: #333;
  --C-T5: #111;
  /**圆角*/
  --R-xs: 6px;
  --R-sm: 12px;
  --R-md: 18px;
  --R-lg: 24px;
  --R-xl: 30px;
  --R-xxl: 36px;
}
