:root {
  /*间距全局变量*/
  --gap-s: 20rpx;
  --gap-m: 25rpx;
  --gap-l: 30rpx;
  --gap-xl: 35rpx;
  --gap-xxl: 45rpx;
  --gap-xxxl: 50rpx;
  /*文字全局变量*/
  --T-S-s: 20rpx;
  --T-S-m: 25rpx;
  --T-S-l: 30rpx;
  --T-S-xl: 35rpx;
  --T-S-xxl: 45rpx;
  --T-S-xxxl: 50rpx;
  /*适合作为背景的颜色*/
  --C-B1: #24252a;
  --C-B2: #3b3f48;
  /*主色*/
  --C-M1: #8775de;
  --C-M2: #47d5d7;
  /*透明色*/
  --C-O1: rgba(255, 255, 255, 0.1);
  --C-O2: rgba(255, 255, 255, 0.2);
  /*适合作文字的颜色*/
  --C-T1: #eee;
  --C-T2: #999;
  --C-T3: #666;
  /*圆角*/
  --R1: 11rpx;
  --R2: 22rpx;
  --R3: 33rpx;
  --R4: 44rpx;
}
